* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#container {
  height: auto;
  width: 100vw;
  border: 1px solid white;
}

.main{
  width: 80%;
  height: auto;
  border: 1px solid white;
  margin: auto;
  background-color: #f2f2f2;
}


@media only screen and (max-width: 1000px) and (min-width: 500px)  {
  .main{
    width: 100%;
   
  }
}

@media only screen and (max-width: 499px) and (min-width: 0px)  {
  .main{
    width: 100%;
   
  }
}
